.custom-bg{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 100vh;
  }
  .heading {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .black-text {
    color: rgb(194, 190, 190);
  }
  .btn:hover {
    color: inherit;
  }
  .box-style {
    background-color: rgba(1,105,156,255);
    padding: 20px;
    border: 1px solid rgba(1,105,156,255);
    text-align: center;
  }
  .box-1 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
  
  .box-2 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
  
  .box-3 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
  
  .box-4 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
 
  .button-container {
    padding-left: 1rem;
  }